<div id="cont" class="h-full p-4 sm:ml-64 dark:bg-gray-800">
  <div class="p-4 mt-14 box-border dark:bg-gray-800">
    <div class="flex justify-between">
      <h1 class="dark:text-neutral-50 ml-5 text-3xl text-black-600 font-bold">
        {{ this.currentDevice.name }}
      </h1>
      <div class="mr-4 relative">
        <button
          (click)="toggleDropdown1()"
          class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
        >
          Time range
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        @if(dropdownOpen1){
        <div
          id="dropdown"
          class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-full dark:bg-gray-700"
        >
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
            <li>
              <a (click)="loadNewData(1)" (click)="toggleDropdown1()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Past 1h</a
              >
            </li>
            <li>
              <a (click)="loadNewData(4)" (click)="toggleDropdown1()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Past 4h</a
              >
            </li>
            <li>
              <a (click)="loadNewData(12)" (click)="toggleDropdown1()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Past 12h</a
              >
            </li>
            <li>
              <a (click)="loadNewData(24)" (click)="toggleDropdown1()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Past 24h</a
              >
            </li>
            <li>
              <a (click)="loadNewData(168)" (click)="toggleDropdown1()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Past 7d</a
              >
            </li>
          </ul>
        </div>
        }
      </div>
    </div>
    @if(tempLoaded && humLoaded && tipLoaded && presLoaded){
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4">
      <app-charts [name]="name1" [sensorData]="temperatuur"></app-charts>
      <app-charts [name]="name2" [sensorData]="humidity"></app-charts>
      <app-charts [name]="name3" [sensorData]="pressure"></app-charts>
      <app-charts [name]="name4" [sensorData]="tippings"></app-charts>
    </div>
    }
  </div>
</div>
